#div_hum{
    width: 50%;
    height: 300px;
    background-color: #fb3838;
    margin: auto;

}

#p_hum{
    font-size: 24px;
    margin-bottom: 50px;
    margin-left: 20px;
}
#p_dois{
    font-size: 22px;
    margin-left: 50px;
    
}